progressbar {
    padding-top: 10px;
}
label {
    padding: 5px 0;
}
separator {
    margin: 5px 0;
}
scrollbar slider {
    /* background-color: alpha(red, 0.7); */
}
scrollbar slider:hover {
    /* background-color: alpha(red, 0.8); */
}

listview {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Custom */
.box {
    background-color: var(--primary-color);
    padding: 12px;
}
.section_head {
    font-weight: bold;
}
